@charset "utf-8";
.container header {
    background-color: #4D85E7;
}

.container header nav {
    background-color: #4D85E7;
}
.container .banner  {
    background-image: url(images/77dfe348d0920f543dce961b4516acc4.png);
}
.container #contact  {
    background-image: url(images/1100px-%E6%98%8E%E6%97%A5%E6%96%B9%E8%88%9F%E5%B0%81%E9%9D%A2.JPG);
}


.container #hero {
    background-image: url(images/001.jpg);
	
}
.container #about {
    background-image: -webkit-linear-gradient(270deg,rgba(171,190,233,1.00) 0%,rgba(53,88,167,1.00) 44.04%,rgba(76,100,155,1.00) 44.56%,rgba(53,84,155,1.00) 44.56%,rgba(83,101,143,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(171,190,233,1.00) 0%,rgba(53,88,167,1.00) 44.04%,rgba(76,100,155,1.00) 44.56%,rgba(53,84,155,1.00) 44.56%,rgba(83,101,143,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(171,190,233,1.00) 0%,rgba(53,88,167,1.00) 44.04%,rgba(76,100,155,1.00) 44.56%,rgba(53,84,155,1.00) 44.56%,rgba(83,101,143,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(171,190,233,1.00) 0%,rgba(53,88,167,1.00) 44.04%,rgba(76,100,155,1.00) 44.56%,rgba(53,84,155,1.00) 44.56%,rgba(83,101,143,1.00) 100%);
}

.container #hero .hero_header {
    color: #000000;
}
